@import "tailwindcss";

@keyframes gradient-motion {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient-motion {
  animation: gradient-motion 15s ease-in-out infinite;
}

